/* Add your custom styles for the dashboard here */
.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}


.auth-links {
    display: flex;
    align-items: center;
}

.auth-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.auth-links a i {
    margin-right: 5px;
}

.auth-links {
    margin-left: auto; /* Pushes auth links to the right */
}
.content {
    display: flex;
    flex: 1;
}

.sidebar {
    flex: 0 0 200px;
    background-color: #f2f2f2;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #ddd;
}

.sidebar a.active {
    background-color: #007bff;
    color: #fff;
}

.main {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    overflow-y: auto; /* Add this if you want a scrollbar when content overflows */
}

.footer {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
